version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:latest
    working_directory: ~/Hobbies
    environment:
      - HOBBIES_BUILD_DIR: ~/Hobbies/Build
      - JEKYLL_ENV = production
    steps:
      - checkout
      # Test All Dependencies
      - run: ruby -v && gem -v && gcc -v && g++ -v && make -v
      - run: bundle install
      - run: bundle exec jekyll build --destination $HOBBIES_BUILD_DIR