version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:latest
    working_directory: ~/Hobbies
    environment:
      - HOBBIES_BUILD_DIR: ~/Hobbies/Build
    steps:
      - checkout
      - run: 
          name: Check Jekyll Dependencies
          command: ruby -v && gem -v && gcc -v && g++ -v && make -v
      - run: 
          name: Install Jekyll & Hobbies Dependencies
          command: bundle install
      - run: 
          name: Build Hobbies
          command: jekyll build --destination $HOBBIES_BUILD_DIR
  deploy:
    docker:
      - image: circleci/ruby:latest
    working_directory: ~/Hobbies
    steps:
      - checkout
      - run:
        name: Create Gem
        command: gem build Hobbies.gemspec
      - run:
        name: Place Credentials
        command: |
          mkdir ~/.gem
          cat .circleci/gem_credentials | sed -e "s/__RUBYGEMS_KEY__/${RUBYGEMS_KEY}/" > ~/.gem/credentials
          chmod 0600 ~/gem/credentials
      - run:
        name: Upload Gem
        command: gem push hobbies-*.gem
      - run:
        name: Shred Credentials
        command: shred -u ~/.gem/credentials

workflows:
  version: 2
  build-and-deploy:
  jobs:
    - build
    - deploy:
        requires:
          - build
        filters:
          branches:
            only: master