<header id="top" class="site-header">
    <!-- Set Up YMAL -->
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <!-- Name -->
    <div class="top-left title">
        <a href="{{ "/" | relative_url }}">
            {{ site.title }}
        </a>
    </div>

    <!-- Nav Bar -->
    <div class="top-right top-nav">
        {% if page_paths %}
            {% for path in page_paths %}
                {% assign my_page = site.pages | where: "path", path | first %}
                {% if my_page.title %}
                    <a href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="clear-all"></div>
</header>