{% if site.github_username %}
    <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}">GitHub</a> 
    <p>&#8226;</p>
{% endif %}
{% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username | cgi_escape | escape }}">Twitter</a> 
    <p>&#8226;</p>
{% endif %}
{% if site.linkedin_username %}
    <a href="https://linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}/">LinkedIn</a> 
    <p>&#8226;</p>
{% endif %}
<a href="{{ 'feed.xml' | relative_url }}">RSS</a>