---
layout: default
---

{% if page.title %}
    <h1>{{ page.title }}</h1>
{% endif %}

{{ content }}

<div class="home">
    {% if site.posts.size > 0 %}
        <ul>
            {% for post in site.posts %}
                <li class="index-post">
                    {% assign date_format = site.Hobbies.date_format | default: "%b %-d, %Y" %}
                    <span class="index-date">{{ post.date | date: date_format }}</span>
                    <h3 class="index-title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h3>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>